extends ./layouts/common.pug
block content
  h1 This is Bookworm's Space
  nav(class="navbar navbar-expand-md navbar-light bg-light sticky-top")
    div(class="container-fluid")
      ul(class="navbar-nav")
        li(class="nav-item")
          a(href="/books", class="nav-link") View books
        li(class="nav-item")
          a(href="/users", class="nav-link") View users
        li(class="nav-item")
          a(href="/transactions", class="nav-link") View transactions