h1 Add a new user
a(href="/users") Back
form(action="/users/add", method="POST")
  label User name:
  input(type="text", name="name")
  br
  br
  label Phone number:
  textarea(name="phone")
  br
  br
  button Add user